<form ng-submit="formSubmitHandler();">
    <div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon0">ID：</span>
            <input disabled="disabled" required="required" type="text" class="form-control" placeholder="用户名"
                   aria-describedby="basic-addon0" ng-model="id">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">帐号：</span>
            <input required="required" type="text" class="form-control" placeholder="用户名"
                   aria-describedby="basic-addon1" ng-model="login">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon8">性别：</span>
            <input required="required" type="number" class="form-control" placeholder="性别"
                   aria-describedby="basic-addon8" ng-model="gender">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">邮箱：</span>
            <input type="email" class="form-control" placeholder="邮箱"
                   aria-describedby="basic-addon2" ng-model="email">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">手机：</span>
            <input type="text" class="form-control" placeholder="手机"
                   aria-describedby="basic-addon3" ng-model="phone">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon4">身份证：</span>
            <input type="text" class="form-control" placeholder="身份证"
                   aria-describedby="basic-addon4" ng-model="id_card">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon5">名字：</span>
            <input type="text" class="form-control" placeholder="名字"
                   aria-describedby="basic-addon5" ng-model="name">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon6">姓氏：</span>
            <input type="text" class="form-control" placeholder="姓氏"
                   aria-describedby="basic-addon6" ng-model="surname">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon7">呢称：</span>
            <input type="text" class="form-control" placeholder="呢称"
                   aria-describedby="basic-addon7" ng-model="nickname">
        </div>
        <div class="input-group">
            <input type="submit" class="btn btn-primary" value="保存">
        </div>
    </div>
</form>